 .q-drawer {
    padding: 1rem;
    background-color: rgba(255,255,255,.85);
  }
  
  .grow {
    transition: all .35s ease-in-out;
  }

  .grow:hover {
     transform: scale(1.03,1);
  }
  
  .width_90 {
        width: 90%;
    }
     .route-btn {
    margin-bottom: 3rem;
  }

  .card-container {
    background-color: rgba(75, 75, 75, 0.39);
    border: 1px solid white;
  }
  .white-border{
        border: 1px solid white;
    }
.text-output {
        background-color: transparent;
        border: none;
        text-align: center;
        /* font-family: "Bellefair", serif; */

    }
  .border {
    padding: 5em
  }

  .mobile-border {
    padding: 3em 0 3em 0;
  }

  .white {
    color: white;
  }

  .top-marg {
    margin-top: 5rem;
  }

  .modal-content {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 5px;
  }

  .route {
    background-color: rgba(75, 75, 75, 0.39);
  }

  .ride-back {
    color: black;

    background: url(https://res.cloudinary.com/treverscloud/image/upload/v1517856029/bw_icaeha.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  .black-back {
    background-color: rgba(138, 138, 138, 0.905);
  }

  .white-back {
    background-color: rgba(255, 255, 255, 0.892);
    color: black;
    height: 100%;
    width: 100%;
  }

  .bot-link {
    margin-bottom: 1rem;
  }

  .r-links {
    margin-top: 3rem;
    padding: .5rem;
    border-radius: 15px;
    /* background-color: rgba(224, 226, 226, 0.65); */
    /* background-color: rgba(75, 75, 75, 0.39); */
    color: white;
  }

  .spacers {
    margin-top: 3rem;
    padding: .5rem;
    /* border-radius: 15px; */
    border: 1px solid white;
    background-color: rgba(75, 75, 75, 0.39);
  }

  .description {
    padding: 1rem;
  }

  .swal-modal {
    background-color: rgba(255, 255, 255, 0.932);
  }

  .swal-button {
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }

  .swal-title {
    color: black;
  }

  .swal-text {
    color: black;
    text-align: center;
  }

  .rest {
    max-height: 3rem;
  }

  .header {
    height: 200px;
  }

  .signature {
        color: rgb(180, 0, 0);
        font-family: "Niconne", cursive;
    }

  body {
    font-family: 'Quattrocento', serif
  }

  .non-selected {
        background-color: transparent;
  }

  .selected {
        background-color: #3a3a3a; 
        // Neutral 3 ^
        border: 3px solid ;
        //Neutral 4^
        padding: 1rem;
        /* border-radius: 15px; */
  }

  .red-back {
    background-color: rgba(65, 57, 57, 0.5);
    padding: 1rem;
    border-radius: 15px;
  }

  .r-btn {
    background-color: rgba(197, 7, 7, 0.8);
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
  }

  .hr {
    width: 30%;
  }

  .q-item {
    font-size: 2rem;
    // color: black;
    // background-color:black;
    text-align: center;
    padding: 0;
    font-weight: 400;
    text-align: left;
  }

  .q-item-link:hover {
    background: transparent;
  }

  .q-list-highlight {
    background: transparent;
    color: black;
    font-weight: 400;
  }

  .q-tabs-head {
    background-color: rgba(17, 17, 17, 0.88);
  }

  .bg-grey-2 {
    background: rgba(255, 255, 255, 0.85) !important;
  }

  .black {
    color: black;
  }

  .color {
    border: 1px solid white;
  }

  .not-loaded {
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
  }

  .loaded {
    opacity: 1;
  }

  .black-bg{
    background-color: black;
  }

  .vid-logo{
    margin: 1rem 0 1rem 0;
    max-width: 25rem;
  }

  .routerLink{
    text-decoration: none;
  }
  .route-item{
    padding: 1rem 0 0 1rem;
    margin-bottom: 1rem;
  }