.text-primary-1 {
  color: #680000;
}
.bg-primary-1 {
  background: #680000;
}
.text-primary-2 {
  color: #a00000;
}
.bg-primary-2 {
  background: #a00000;
}
.text-primary-3 {
  color: #c90000;
}
.bg-primary-3 {
  background: #c90000;
}
.text-primary-4 {
  color: #e60000;
}
.bg-primary-4 {
  background: #e60000;
}
.text-primary-5 {
  color: #ff0000;
}
.bg-primary-5 {
  background: #ff0000;
}
.text-primary-6 {
  color: #fa5d5d;
}
.bg-primary-6 {
  background: #fa5d5d;
}
.text-primary-7 {
  color: #f8f1f1;
}
.bg-primary-7 {
  background: #f8f1f1;
}

.text-neutral-1 {
  color: #1b0b0b;
}
.bg-neutral-1 {
  background: #1b0b0b;
}
.text-neutral-2 {
  color: #202020;
}
.bg-neutral-2 {
  background: #202020e7;
}
.text-neutral-3 {
  color: #3a3a3a;
}
.bg-neutral-3 {
  background: #3a3a3a;
}
.bg-neutral-t-3 {
  background: #3a3a3abd;
}
.text-neutral-4 {
  color: #616161;
}
.bg-neutral-4 {
  background: #616161;
}
.text-neutral-5 {
  color: #8f8f8f;
}
.bg-neutral-5 {
  background: #8f8f8f;
}
.text-neutral-6 {
  color: #b8b8b8;
}
.bg-neutral-6 {
  background: #b8b8b8;
}
.text-neutral-7 {
  color: #d6d6d6;
}
.bg-neutral-7 {
  background: #d6d6d6;
}
.text-neutral-8 {
  color: #e9e8e8;
}
.bg-neutral-8 {
  background: #e9e8e8;
}
.text-neutral-9 {
  color: #f1f1f1;
}
.bg-neutral-9 {
  background: #f1f1f1;
}

.bg-accent-4 {
  background: #1fdd3e;
}
.text-accent-4 {
  color: #1fdd3e;
}